*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    font-size: 40px;
    margin: 50px;
}

nav{
    margin-left: 100px;
}

nav > h3 > a{
    margin-left: 50px;
    font-size: 25px;
}
